
# Entorno
.env

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Screenshots generados por tests
tests/.screenshot-dir
tests/.test-counter
tests/screenshots/test_*/

# Logs
server.log
